%h1 Listing posts

%table
  %thead
    %tr
      %th Title
      %th Text
      %th Author
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.text
        %td= "#{ post.user.first_name } #{ post.user.last_name }"
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path
