!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p.notice= notice
    %p.alert= alert
    %title Tutorial
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if user_signed_in?
      %label= "Welcome, #{ current_user.first_name} #{ current_user.last_name }"
      = link_to 'Users', users_path
      = link_to 'Posts', posts_path
      = link_to 'Sign out', destroy_user_session_path, method: :delete
    = yield
